.toolbar {
    background: #e15f41;
}
.logo-container {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 10px;
    margin-bottom: 20px;
}
.logo-container h1{
    margin-top: 15px;
    margin-left: 2px;
}
.logo {
    margin-top: 8px;
}

a {
    color: black;
}

.panel-class {
    background-color: blue;
    color: green;
}