.toolbar {
    background: #e15f41;
}
.logo-container {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 10px;
}
.logo {
    margin-top: 8px;
}

a {
    color: black;
}

.panel-class {
    background-color: blue;
    color: green;
}