.custom-file-upload {
    background-color: #DDD;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 78px;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}

.custom-file-upload::-webkit-file-upload-button {
    visibility: hidden;
  }

.submitButton {
    background-color: #457b9d;
    color: black;
    width: 100%;    
    margin-bottom: 20px;
}


