mat-card-content {
    padding-top: 15px;
    margin: auto;
    background-color: #596275;
}
mat-card {
    margin:auto;
}
 button {
    width: 100%;
}

button {
    background-color: #457b9d;
    color: black;
    width: 70%;    
    margin-bottom: 20px;
}



mat-card-header img {
    border-radius: 100%;
    height: 110px;
    width: 110px;
    margin: 0px;
    margin-right: 10px;
}

mat-form-field {
    color: white;
}

mat-label {
    color: white;
}

.client-name {
    margin-top: 20px;
    font-size: 40px;
}


.custom-file-upload {
    background-color: #DDD;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 40px;
    cursor: pointer;
    border-radius: 5px;
}

.custom-file-upload::-webkit-file-upload-button {
    visibility: hidden;
  }