<div class="container" fxFlex="100" fxLayoutAlign="center center">
    <div [fxFlex]="value">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title fxLayout="row" fxLayoutAlign="center center">
                    <img mat-card-image src="{{baseURL + client['client_profile_picture']}}">
                    <h1 class="client-name">{{client['client_name']}} {{client['client_lastname']}}</h1>
                </mat-card-title>

            </mat-card-header>
        </mat-card>
        <mat-card-content>
            <div fxLayoutAlign="center center">
                <form novalidate [formGroup]="clientForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                    <p fxLayoutGap="10px" fxLayout.xs="column" fxLayout.md="column">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Nombre</mat-label>
                            <input type="text" matInput formControlName="firstname" placeholder="Nombre" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Apellido</mat-label>
                            <input type="text" matInput formControlName="lastname" placeholder="Apellido" required>
                        </mat-form-field>
                    </p>
                    <p fxLayoutGap="10px" fxLayout.xs="column" fxLayout.md="column">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Nombre de usuario</mat-label>
                            <input type="text" matInput formControlName="username" placeholder="Nombre de usuario"
                                required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput formControlName="password" placeholder="Contraseña"
                                required>
                        </mat-form-field>
                    </p>
                    <p fxLayoutGap="10px" fxLayout.xs="column" fxLayout.md="column">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Email</mat-label>
                            <input type="text" matInput formControlName="email" placeholder="Email" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input type="datetime-picker" matInput formControlName="birthday"
                                placeholder="Fecha de nacimiento" required>
                        </mat-form-field>
                    </p>
                    <p fxLayoutGap="10px" fxLayout.xs="column" fxLayout.md="column">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>País</mat-label>
                            <input type="text" matInput formControlName="country" placeholder="País" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Creditos disponibles</mat-label>
                            <input type="text" matInput formControlName="credits" readonly>
                        </mat-form-field>
                    </p>
                    <p fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="center center">
                            <mat-label>Actualiza tu foto</mat-label>
                            <input class="custom-file-upload" type="file" (change)="onPhoto($event)">                        
                        <button type="submit" mat-button [disabled]="clientForm.invalid">Actualizar</button>
                    </p>

                </form>
            </div>
        </mat-card-content>
    </div>

</div>