.den-button {
    margin-right: 20px;
    margin-top: 20px;
    float: right;
    background:#990000;
    color:white;
}
.go-back {
    float: right;
}
.comments mat-list-item{
    color: black;

}

.container {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}
.comments button{
    background: #cccc;
    width: 190px;
}
.comments textarea{
    width: 100%;
    color: black;
    resize: none;
}

mat-divider {
    color:black;
    background: black;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    padding-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.comment-container {
    max-width: 250px;
    margin-bottom: 10px;
}



.chat-button {
    background-color: #ccc;
}

.vendor-card {
    color:black;
    background-color: white;
    max-height: 200px;
}

.comment-card {
    color:black;
    background-color: white;
    max-height: 160px;
}

mat-card-avatar {
    margin-bottom: 10px;
}

h4{
    margin-top: 10px;
    margin-left: 10px;
}

mat-list-item p {
    margin-left: 40px;
}
mat-list-item h5 {
    margin-left: 40px;
}