<div fxLayout="column" *ngIf='!blocked'>
    <div class="container" fxLayout="row" fxflex="100%" fxLayout.sm="column" fxLayout.xs="column"
        fxLayoutAlign="space-evenly center" fxLayoutGap="100px" fxLayoutGap.xs="30px">
        <div fxFlex="50%" *ngIf="publication" >
            <mat-card style="margin-right: 15px">
                <img mat-card-image src="{{baseURL + publication.product_photo}}">
                <button mat-button (click)="newPurchase()">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
                <button (click)="likePublication()" mat-button [matBadge]="publication.likes_qty"
                    matBadgeColor="accent">
                    <mat-icon>thumb_up</mat-icon>
                </button>
                <button mat-button (click)="dislikePublication()" [matBadge]="publication.dislikes_qty"
                    matBadgeColor="accent">
                    <mat-icon>thumb_down</mat-icon>
                </button>
                <span class="flex-spacer">

                </span>
                <button class="go-back" mat-button (click)="goBack()">
                    <mat-icon>
                        keyboard_backspace</mat-icon>
                </button>

            </mat-card>
        </div>
        <div fxFlex="50%" fxLayout="column" flexLayoutAlign="start start" fxLayoutGap="40px">
            <mat-card class="vendor-card">
                <h3>Información del producto</h3>
                <mat-card-header>
                    <mat-card-title>
                        <p><strong>{{publication.product_name | uppercase}}</strong></p>
                        <h2 class="mat-title">{{publication.product_detail}}</h2>
                        <h4 *ngIf="publication">Precio: Q.{{publication.product_unit_price}}</h4>
                        <h4 *ngIf="publication">Categoría: {{publication.product_category}}</h4>
                    </mat-card-title>

                </mat-card-header>
                <button mat-button class="den-button" (click)="newComplaint()"
                    style="background:#990000; color:white;margin-left:20px;">
                    <mat-icon>block</mat-icon> Denunciar publicación
                </button>
            </mat-card>
            <mat-card class="vendor-card">
                <h3>Descripción del vendedor</h3>

                <mat-card-header>
                    <img mat-card-avatar src="{{baseURL + client['client_profile_picture']}}" width="20" height="50">
                    <mat-card-title>{{client.client_name}} {{client.client_lastname}}</mat-card-title>
                </mat-card-header>
                <br>
                <button mat-button (click)="openChat()">
                    <mat-icon>chat</mat-icon> Chatea con el vendedor
                </button>
            </mat-card>
        </div>
    </div>
    <h1 class="comment-title">Comentarios</h1>
    <hr>
    <div fxFlex="100" class="container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="30px">
        <div fxFlex="35" *ngIf="publication" class="comments all-comments" style="overflow-y: scroll; height:280px;">
            <div *ngFor="let comment of comments" class="comment-container">
                <mat-card class="comment-card">
                    <mat-card-header>
                        <img mat-card-avatar src="{{baseURL + comment.client_profile_picture}}">
                        <mat-card-title>
                            <h4><strong>{{comment.client_name}} {{comment.client_lastname}}</strong></h4>
                            <h5>{{comment.publication_comment_date}}</h5>
                            <p>{{comment.publication_comment_content}}</p>
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
        <div fxFlex="50" *ngIf="publication" class="comments">
            <h1>Deja tu comentario <mat-icon>mood</mat-icon>
            </h1>
            <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label style="color:black">Comentario</mat-label>
                        <textarea type="text" matInput formControlName="content" rows="10" placeholder="Comentario"
                            required></textarea>
                    </mat-form-field>
                </p>
                <button type="submit" mat-button>Enviar comentario</button>
            </form>
        </div>
    </div>

</div>

<div *ngIf="blocked" class="blocked">

    <h1>Lo sentimos, esta publicación se encuentra bloqueada :(</h1>
    <h2>Esta publicación no cumple con las normas establecidas en nuestra página...</h2>

</div>