<div fxHide.xs fxHide.sm class="wrapper">
    <div class="text-block">
        <p>
            Nunca sabes lo que quieres
        </p>
        <br>
        <p>hasta que ves una oferta</p>
    </div>
</div>

<div class="container">
    <div class="images-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center"
        fxLayoutGap="30px">
        <mat-card>
            <img mat-card-image class="image-content" src="assets/images/image1.png" height="360" width="420px">
            <mat-card-content>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora deleniti dignissimos expedita
                    repellendus nulla autem. Odit cum alias, est esse tenetur, perspiciatis suscipit sit adipisci,
                    veniam corrupti porro iure! Tenetur.</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <img mat-card-image class="image-content" src="assets/images/image2.jpg" height="360" width="500px">
            <mat-card-content>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora deleniti dignissimos expedita
                    repellendus nulla autem. Odit cum alias, est esse tenetur, perspiciatis suscipit sit adipisci,
                    veniam corrupti porro iure! Tenetur.</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <img mat-card-image class="image-content" src="assets/images/image3.png" height="360" width="500px">
            <mat-card-content>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora deleniti dignissimos expedita
                    repellendus nulla autem. Odit cum alias, est esse tenetur, perspiciatis suscipit sit adipisci,
                    veniam corrupti porro iure! Tenetur.</p>
            </mat-card-content>
        </mat-card>
    </div>



    <mat-expansion-panel *ngIf="!authService.isLogged()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                ¡Sé parte de esta experiencia!
            </mat-panel-title>
            <mat-panel-description>
                Registrate ahora y empieza a vender/comprar productos.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolorum voluptas placeat error, ducimus
            adipisci eligendi non suscipit. Odio aut consequuntur voluptatibus in labore, natus earum aspernatur facilis
            cum eaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem repellendus quibusdam vel
            maxime nostrum illo odit labore dolorem sapiente! Atque fuga ratione nihil quae, nostrum dolorum illo minus
            magnam sit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, voluptas, quidem minima sunt
            dolore magni hic velit libero, neque excepturi ratione odio ipsum necessitatibus quibusdam fugiat commodi
            animi veritatis impedit!</p>
    </mat-expansion-panel>




</div>