.image-content {
    border-radius: 0%;
}

.images-container {
    margin: 40px;
    border-radius: 10%;

}

.container-aux {
    margin:auto;
}

mat-card {
    background-color: transparent;
    border-radius: 10px;
    color: black
}

mat-card:hover {
    transition: all 0.1s;
    box-shadow: 5px 5px 5px 5px black;
}

mat-expansion-panel {
    background-color: #596275;
}

.jumbotron {
    background-color: #596275;
    margin: 0px auto;
    margin-left: 30px;
    color:white;
    margin-right: 30px;

    min-height: 150px;
    padding: 20px;
    border-radius: 10px;
}
.jumbotron:hover {
    transition: all 1s;
    transform: scale(1.01); 
}

.jumbotron img {
    border-radius: 20px;
}

.wrapper {
    background: url("/assets/images/home5.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.text-block {
    position: absolute;
    top: 40%;
    left: 44%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 63px;
  }

  .center-item {
    border-right: 1px solid #38546d;
    width: 1px;
    height: 50px;
    position: absolute;
    right: 250px;
    top: 10px;
  }

  mat-grid-item {
      margin: 10px;
  }